node_modules
*~
.bash_history
/PDF
phpinfo.php
.viminfo
/.cache
.htaccess
.config/
.vscode/settings.json
vendors/
app/tmp
.htaccess
app/Plugin/Bootstrap3/
app/Config/database.php
README.pdf
app/Config/database.php.sample
docs/*.pdf
bin/locations.csv
bin/items.csv
bin/test.php

app/Controller/logStatements.txt
.DS_Store
