#error_div {
	display: none;
}
#cartons-btn-print, #custom-btn-print {
	margin: 10px;
}
div.row {
	min-height: 4px;
}
div.clearer {
	clear: both;
	line-height: 0;
	height: 0;
}

fieldset {
    margin-top: 0px;
   
}
legend {
    margin-bottom: 0;
    font-size: 1em;
    border-style: none;
}
div.cls-keypad {
    font-size: 2em;
}
#custom-tabs {
	margin-right: 40px;
	margin-top: 21px;
}
.jquery-tabs {
	font-size: 150%;
}
.custom-print-area {
	float: right;
	width: 250px;
}
.custom-image {
	float: left;
}

.noshow {
	display: none;
}

.cls-big-buttons {

	width: 140px;
	height: 110px;
}

input.pallet {

	font-size: 2em;
}

.ui-button-text-only .ui-button-text {
	padding: .4em .6em;
}

button, a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#bottling-drumming button {
	height: 110px;
	width: 110px;
}
#custom-btn-print-tab {
	margin-left: 60px;
	margin-top: 30px;
}

.content {
	margin: 0 auto;
}

#btn-part-pallet {
	height: 110px;
}

.cls-keypad button, .dialog-keypad button{

	width: 100px;
	height: 100px;
}

/* background color */
.yellow {

	background-color: yellow;
}

#div-deo_number {
	display: none;
}

button.pallet {
	
	margin: 20px;
	
}

/* smaller buttons because ie8 is naff */

.left-col {
	float: left;
	display: block;
	margin-right: 10px;
}

.middle-col {
	float: left;
	margin: 0 auto;
	width: 20%;
	text-align: center;
	display: block;
}
.middle-col-buttons {
	margin-bottom: 30px;
}

.right-col {

	float: left;
	width: auto;
	min-width: 300px;
	display: block;
}

.print-yes-no {
	margin: 0 auto;
	text-align: center;
}

/* button {

 font-size: 2em;

 */

.cls-popupleft {
	display: block;
	float: left;
}

.cls-popupright {
	display: block;
	float: right;
}

#popup-keypad-border {

	margin-top: 10px;
}

.cls-button-text {
	font-size: .7em;
}

#yesno {

	display: none;
}

#btn-pallecon {
	margin-top: 40px;
	height: 110px;
}

.popup-dialog {
	display: none;
}

#pl-qty {
	margin-left: 60px;
}

.cls-popup-big-text {
	font-size: 10em;
}
.btn-popup {

	width: 110px;
	height: 110px;
}

#popup-buttons {
	margin: 0 auto;
}

#btn-custom-print {
	margin: 30px;
}

/* selectable settings */

#feedback {
	font-size: 1.4em;
}
.bottling-selectable .ui-selecting {
	background: #FECA40;
}
.bottling-selectable .ui-selected {
	background: #F39814;
	color: white;
}
.bottling-selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}
.bottling-selectable li {
	margin: 3px;
	padding: 0.4em;
	font-size: 1.6em;
	line-height: 1.4em
}
.bottling-selectable {
	margin: 0 auto;
	text-align: center;
}

.footer-div {
	visibility: hidden;
}

fieldset input {
	display: block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

fieldset {
	border: 1px solid green;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#fieldset {
	padding: 0;
	border: 0;
	margin-top: 0px;
	margin-bottom: 20px;
}
input.text {
	margin-bottom: 12px;
	width: 15em;
	padding: .4em;
}

fieldset label {
	font-size: 120%;
}
.div-popup-header {
	display: none;
}

.error-alert {
	margin-top: 0px;
	padding: 0 .7em;
	margin-bottom: 15px;
}

H2 {
	font-size: 120%
}

#btn-pl-qty {
	margin-left: 40px;
}

#custom-tabs {
	width: 750px;
}

#keypad_left {
	float: left;
}
#keypad_right {
	float: right;
}

button.cls-big-buttons span {
    
    font-size: 2em;
}

li { cursor: pointer; cursor: hand; }

.ui-widget {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}