.border {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  /* margin: 10px 20px;*/

  margin: 20px 20px;
}

.content {
  width: 720px;
  margin: auto;
}
#ord_today {
  font-size: 72pt;
  font-weight: bold;
}
select {
  border: 1px solid #ccc;
  vertical-align: top;
  height: 51px;
  background-color: #fff;
}

input {
  height: 51px;
}
select,
input {
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline;
  box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  margin-top: 40px;
  margin-left: 40px;
}

input[name="julian"] {
  pointer-events: none;
}
