.tgn-qty {
  display: none;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27/02/2015, 1:31:18 AM
    Author     : jmcd
*/
@media print {
  #header,
  .cake-debug,
  #debug-kit-toolbar,
  .cake-debug-output,
  .cake-error {
    display: none;
  }
  th.actions,
  .hideme,
  td.actions {
    display: none;
  }
  .report_actions .total_actions {
    display: none;
  }
  a {
    text-decoration: none;
  }
}
.footer-image {
  height: 20px;
}
div.add_dt label {
  text-align: left;
  display: inline;
}
div.add_dt div.input {
  margin-bottom: 0.2em;
}

@media screen and (min-device-width: 800px) and (max-device-width: 1281px) /* and (-webkit-min-device-pixel-ratio: 1) */ {
  table.day_report {
    font-size: 80%;
  }
}

ul.day_report {
  list-style: none;
  overflow: hidden;
  position: relative;
}

ul.day_report li {
  float: left;
  margin: 0 20px 0 0;
}

input[type="checkbox"],
input[type="checkbox"]:focus,
input[type="checkbox"]:active,
input[type="checkbox"]:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div.rpt-heading {
  display: inline-table;
  width: 99%;
  border-top: #555 solid 2px;
  border-bottom: #555 solid 2px;
  padding: 6px;
  margin-top: 15px;
  margin-bottom: 0px;
}

table.day_report td.actions,
table.day_report tr,
table.day_report td,
table.day_report th {
  padding: 3px 2px;
}

table.day_report {
  font-size: 90%;
}

table.day_report td.actions a {
  font-size: 60%;
}
div.rpt-cell {
  display: table-cell;
  float: left;
  margin-right: 30px;
}
span.rpt-label {
  font-weight: bold;
}

div.part_pallet_qty {
  display: none;
}

ul.ui-menu {
  max-height: 420px !important;
}

button.submit {
  height: 100px;
  width: 150px;
}

div.ui-dialog-buttonset button {
  height: 100px;
  width: 150px;
}

#dialog {
  display: none;
}

.totals {
  font-weight: bold;
}

/* hide the default action buttons */
div.actions {
  display: none;
}
div.onhand-actions {
  float: left;
  width: 100px;
}

div.onhand-index {
  float: right;
  width: 88%;
  padding-left: 10px;
  border-left: #000000 solid 1px;
}

/* div.form, div.index, div.view {
      float: left;
      width: 90%;
      border-left: none;
  }
  */

tr.instructions {
  background-color: #fff !important;
}
td.instructions {
  padding: 15px;
}

td.instructions > div {
  padding: 15px 15px;
  background-color: cornsilk;
}

td.instructions ol,
td.instructions ul {
  margin: 15px 30px;
}

fieldset {
  margin-top: 20px;
}

fieldset legend {
  margin-bottom: 15px;
}

.navbar {
  margin-bottom: 0px;
}

.col-xs-j9,
.col-sm-j9,
.col-md-j9,
.col-lg-j9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-j9,
.col-sm-j9,
.col-md-j9,
.col-lg-j9 {
  width: 11.1%;
  float: left;
}

.col-xs-j8,
.col-sm-j8,
.col-md-j8,
.col-lg-j8 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-j8,
.col-sm-j8,
.col-md-j8,
.col-lg-j8 {
  width: 12.5%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-j9 {
    width: 11.1%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-j9 {
    width: 11.1%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-j9 {
    width: 11.1%;
    float: left;
  }
}

.ui-autocomplete {
  max-height: 600px;
  overflow-y: auto; /* prevent horizontal scrollbar */
  overflow-x: hidden; /* add padding to account for vertical scrollbar */
  z-index: 1000 !important;
}

div.right-col {
  border-left: 1px solid lightgray;
  /*   margin-left: 20px;
         padding-left: 20px;
         padding-top: 24px;*/
}

input[type="checkbox"] {
  /* fix for chrome on windows super huge checkboxes */
  /*    -webkit-appearance: none;
          -moz-appearance: none;*/
  height: 16px;
  width: 16px;
}

div.checkbox input[type="checkbox"] {
  /* fix for chrome on windows super huge checkboxes */
  /*    -webkit-appearance: none;
          -moz-appearance: none;*/
  height: 16px;
  width: 16px;
  margin-top: 2px;
}

/*div.checkbox {
      line-height: 1.2em;
      font-size: 1.2em;
  }*/

.sf-menu a {
  color: #777;
}

.sf-menu a:hover {
  color: #333;
}

.sf-menu li {
  background: #f8f8f8;
}

.sf-menu ul li {
  background: #ffffff;
}
.sf-menu ul ul li {
  background: #ffffff;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: #e7e7e7;
}

.sf-arrows .sf-with-ul:after {
  border-top-color: #7a7a7a; /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5);
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #333; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #333; /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(51, 51, 51, 0.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #333;
}

#header {
  height: 42px;
}
/*
  .lookup-search label {
      height: 3em;
  }*/

.bpad,
.bpad40 {
  margin-bottom: 40px;
}
.bpad20,
.bpad0 {
  margin-bottom: 20px;
}
.bpad10 {
  margin-bottom: 10px;
}

.tpad {
  margin-top: 40px;
}

.btn-group {
  margin-bottom: 15px;
}
/* view stock  and lookup */

/*div.lowdate, div.cooldown, div.lowdateallowd, div.colour-legend{
      height: 40px;
      line-height: 40px;
  }*/

/* color legend onhand */
.cooldown {
  background-color: #d9edf7 !important;
  background: #d9edf7 !important;
}
.lowdate.shipment-allowed {
  background-color: #fcf8e3 !important;
  background: #fcf8e3 !important;
}

.lowdate {
  background: rgba(255, 0, 0, 0.2) !important;
  background-color: rgba(255, 0, 0, 0.2) !important;
}

/* 14px top and bottom on flash messages */
#flashMessage {
  margin: 14px;
}

.pbutton {
  margin-left: 166px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) and (min-width: 771px) {
  body {
    margin-top: 120px;
  }
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

body.move .btn-default.active,
body.move .btn-default:active,
body.put_away .btn-default.active,
body.put_away .btn-default:active {
  background-color: #f0ad4e;
}

body.Shipments.add,
body.Shipments.edit,
body.Labels,
bulkStatusRemove {
  margin-bottom: 60px;
}

.x-small {
  font-size: x-small;
}

.bsrtpad {
  margin-top: 10px;
  margin-bottom: 6px;
}

/* stop second line wrapping with an indent */
.checkbox-inline,
.checkbox-inline + .checkbox-inline,
.checkbox-inline + .radio-inline,
.radio-inline,
.radio-inline + .radio-inline,
.radio-inline + .checkbox-inline {
  margin-left: 0;
  margin-right: 10px;
}

.checkbox-inline:last-child,
.radio-inline:last-child {
  margin-right: 0;
}

select.toggen.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  line-height: 24px;
  height: 63px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  /* down arrow */
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 98% 55%;
  background-repeat: no-repeat;
}

.toggen.form-group-lg {
  margin-bottom: 15px;
}

a.btn.add::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f055\00a0";
}
a.btn.pdf::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f1c1\00a0";
}

a.btn.delete::before,
button.cancel::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f2ed\00a0";
}

a.btn.up::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f0d8\00a0";
}

a.btn.down::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f0d7\00a0";
}

a.btn.edit::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f044\00a0";
}

a.btn.save::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f00c\00a0";
}

a.btn.cancel::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f00d\00a0";
}

a.btn.calendar-week::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f784\00a0";
}
a.btn.reprint::before,
a.btn.reprint::before,
button.print::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f02f\00a0";
}

a.btn.view::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\f06e\00a0";
}

th a.asc:after {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\00a0\f0de";
}
th a.desc:after {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\00a0\f0dd";
}

.menu-table tr {
  /* Example color */
  background: #f9f9f9;
}

.menu-table tr:nth-child(4n + 1),
.menu-table tr:nth-child(4n + 2) {
  /* Example color */
  background: #fff;
}

.menu-table thead tr:first-child {
  background-color: #f9f9f9;
}

/* fix background-color contrast problem */

.bg-info {
  background-color: #8f3fb89a;
}

.tgn-help-page {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tgn-dispatch-add {
  padding-top: 23px;
}

div.context-help {
  height: 50px;
  background-color: rgb(52, 58, 64, 0.8);

  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
}
a.context-help {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
a.context-help:hover {
  color: rgba(255, 255, 255, 0.75);
}
span.page-help-icon {
  display: inline;
}

.page-help {
  color: #2780e3;
}

.secondary-text {
  font-weight: normal;
  font-size: 0.9em;
}

.secondary-text::before {
  content: " ";
  display: block;
}

form.up-down-control {
  width: 200px;
}

input.move {
  text-align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

td.total-cell {
  border-color: black;
  border-bottom-style: double;
  border-top-style: solid !important;
  border-top-color: black !important;
  border-top-width: 1px !important;
}

span.movement-down::after {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\00a0\f0d7";
}

span.movement-up::after {
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  content: "\00a0\f0d8";
}

div.pallet-info {
  margin-right: 10px;
  display: inline-block;
}

.file-pdf {
  color: blue;
}
.file-code {
  color: yellowgreen;
}

.font-bold {
  font-weight: bold;
}

table.cartons > tbody > tr:first-child > td {
  border-top: 0px;
}

table.cartons.table-bordered {
  border-width: 0px;
}

table.cartons.table-bordered > tbody > tr > td:first-child {
  border-left-width: 0px;
}

table.cartons.table-bordered > tbody > tr > td:last-child {
  border-right-width: 0px;
}
table.cartons.table-bordered > tbody > tr:last-child:not(:only-child) > td {
  border-bottom-width: 0px;
}
.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
  height: 38px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  outline: none;
}

.tt-query {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 203px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.sidebar {
  z-index: 99; /* Behind the navbar */
}
.toggen-btn-appended {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

button.move-up::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;

  content: "\f0d8";
}

button.move-down::before {
  font-family: "Font awesome 5 Free";
  font-weight: 900;

  content: "\f0d7";
}

.card-body.open {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
pre.pr,
pre.cake-error {
  margin-left: 260px;
}

label[for="cartons-item"] {
  display: block;
}

span.twitter-typeahead,
input#cartons-item {
  width: 100%;
}

div.empty-message {
  -webkit-tap-highlight-color: transparent;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.hidden {
  display: none;
}
